<style media="screen">
  .sup {
    margin-top: 14px
  }
  .navbar-header {
    margin-top: 14px
  }
</style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Woot Reboot</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="sup" class="active"><a href="#">Home</a></li>
      <%@categories.each do |category| %>
      <li class="sup"><a href="/category/show/<%=category.id%>"><%=category.title %></a></li>
      <%end%>
      <% if !@user %>
      <li class="sup"><a href="/login">Sign In</a></li>
      <% end %>
      <% if @user %>
      <li class="sup"><a href="/logout">Logout</a></li>
      <li class="sup"><a href="/users/edit/<%=@user.id%>">Update Account Settings</a></li>
      <% end %>
      <li><a href="/items/checkout/<%=@cart.id%>"><img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/simple-black-square-icons-business/126581-simple-black-square-icon-business-cart-solid.png" alt="" height = '50' width = '50'></a></li>
    </ul>
  </div>
</nav>

<div class="container">
<div class="row">
  <div class="col-sm-6">
    <h2><%=@item.name%></h2>
    <h3>$ <%=@item.price%></h3>
    <h5><%=@item.description%></h5>
    <div class="">
      <form action="/add_to_cart/<%= @item.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" name="" class="btn btn-primary" value="Add to Cart">
      </form>
    </div>
  </div>
  <div class="col-sm-4">
    <p><img src="<%=@item.img_url%>" alt="<%=@item.name%>" width="500" height="300"></p>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <a class="btn btn-primary btn-lg" href="/items/discussion/<%=@item.id%>" role="button">Join The Discussion</a>
    </div>
  </div>  <br>
  <div class="container">
      <ul class="nav nav-tabs">
          <li class="nav active"><a href="#A" data-toggle="tab">Reviews</a></li>
          <li class="nav"><a href="#B" data-toggle="tab">Add A Review</a></li>
      </ul>

      <p></p>
      <!-- Tab panes -->
      <div class="tab-content">
          <div class="tab-pane fade in active" id="A">
            <%@item.reviews.each do |review| %>
            <div class="row">
              <%=review.user.f_name%>:<strong> <%=review.content%></strong> <br>
              Rating: <%=review.rating%> out of 5 <br>
            </div>
            <%end%>
          </div>
          <div class="tab-pane fade" id="B">
            <form action="/items/<%=@item.id%>/create_review/" method="post">
              <% if flash[:notice] %>
              <div class="alert alert-success">
                  <strong><%= flash[:notice] %></strong>
              </div>
              <%end%>
              <% if flash[:errors] %>
              <div class="alert alert-danger">
                  <% flash[:errors].each do |error| %> <br>
                  <strong><%= error%></strong>
                  <%end%>
              </div>
              <%end%>
              <div class="form-group">
                <h1>Add a Review</h1>
                <div class="col-md-4">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <div class="form-group">
                    <label for="review">Add Review</label>
                    <textarea class="form-control" id="review" name="review" rows="5" ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="rating">Rating</label>
                    <select class="form-control" id="rating" name="rating" >
                      <option selected>Choose...</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div> <br>
                  <button type="submit" class="btn btn-primary">Add Review</button>
                </div>
              </div>
            </form>
          </div>
      </div>
  </div>
