<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Woot Reboot</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <%@categories.each do |category| %>
      <li><a href="/category/show/<%=category.id%>"><%=category.title %></a></li>
      <%end%>
    </ul>
  </div>
</nav>

<div class="container">
<div class="row">
  <div class="col-sm-6">
    <h2><%=@item.name%></h2>
    <h3>$ <%=@item.price%></h3>
    <h5><%=@item.description%></h5>
  </div>
  <div class="col-sm-4">
    <p><img src="<%=@item.img_url%>" alt="<%=@item.name%>" width="500" height="300"></p>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <a class="btn btn-primary btn-lg" href="/items/discussion/<%=@item.id%>" role="button">Join The Discussion</a>
    </div>
  </div>  <br>

<div class="">
  <form action="/add_to_cart/<%= @item.id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" name="" value="Add to Cart">
  </form>
</div>

<div class="container" height="100">
  <h3>Your Cart</h3>
  <% @cart.items.each do |item| %>
  <p><%= item.name %></p>
  <p><%= item.quantity %></p>
  <% end %>
</div>
