<script type="text/javascript">
$(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});
</script>

<style media="screen">
  .sup {
    margin-top: 14px;
  }
  .navbar-header {
    margin-top: 14px
  }

</style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Woot Reboot</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="sup" class="active"><a href="#">Home</a></li>
      <%@categories.each do |category| %>
      <li class="sup"><a href="/category/show/<%=category.id%>"><%=category.title %></a></li>
      <%end%>
      <% if !@user %>
      <li class="sup"><a href="/login">Sign In</a></li>
      <% end %>
      <% if @user %>
      <li class="sup"><a href="/logout">Logout</a></li>
      <li class="sup"><a href="/users/edit/<%=@user.id%>">Update Account Settings</a></li>
      <% end %>
      <li><a href="/items/checkout/<%=@cart.id%>"><img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/simple-black-square-icons-business/126581-simple-black-square-icon-business-cart-solid.png" alt="" height = '50' width = '50'></a></li>
    </ul>
  </div>
</nav>
<div class="container">
    <div class="well well-sm">
        <strong><%=@category.title%></strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
      <%@category.items.each do |item| %>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="<%=item.img_url%>" alt="<%=item.description%>" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        <%=item.name%></h4>
                    <p class="group inner list-group-item-text">
                    <%=item.description%></p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $<%=item.price%></p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <form action="/add_to_cart/<%= @item.id %>" method="post">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <input class="btn btn-success" type="submit" name="" value="Add to Cart">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>
